:root {
  --alto-menu: 56px; /* o el alto real de tu barra */
}

body {
  margin: 0;
  font-family: system-ui, Segoe UI, Roboto, sans-serif;
  background: #f5efe3;
  padding-top: var(--alto-menu); /* deja espacio para el header fijo */
  color: #222;
}

.menu-superior {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--alto-menu);
  z-index: 1000;
  background: rgba(50, 25, 10, 1);
  border-bottom: 3px solid #3b1d0b;
  padding: 0 20px; /* quitamos el padding vertical */
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);

  display: flex;             /* nuevo */
  align-items: center;       /* centra verticalmente */
}

.menu-superior nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu-superior nav a {
  text-decoration: none;
  color: #fdf5e6;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.menu-superior nav a:hover { color: #ffd700; }

/* ====== Principal ====== */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

/* Botón principal */
.zona-botones {
  margin-bottom: 30px;
}

.btn-nuevo {
  background: #8b4513;
  color: #fff8dc;
  padding: 12px 18px;
  border-radius: 8px;
  border: 2px solid #3b1d0b;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.4);
  transition: background 0.3s;
}

.btn-nuevo:hover {
  background: #a05d2b;
}

/* Lista de personajes */
#contenedor-personajes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.personaje {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,1);
  border: 1px solid rgba(255,255,255,1);
  border-radius: 8px;
  padding: 10px 50px;
  margin-bottom: 20px;
  transition: background 0.2s ease;
}
.personaje:hover {
  background: rgba(255,255,255,1);
}

.personaje .info {
  display: flex;
  flex-direction: column;
}
.personaje .nombre {
  font-weight: 600;
  color: #f09307;
}
.personaje .clase {
  color: #138ee0;
  font-size: 0.9rem;
}

.btn-borrar {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  font-size: 1rem;
  background: rgba(180,30,30,1);
  color: #fff;
  transition: all 0.2s ease;
}
.btn-borrar:hover {
  background: rgba(230,50,50,1);
}
